body {
    /* Just some dummy code to test if the style sheet is working properly */
    background: rgb(62, 91, 114);
    color: rgb(197, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center ;

}

#title{
    text-align: center;
    font-size: 60px;
   
}

#small_title{
    text-align: center;
    font-size: 30px;
}

#input_description{
    text-align: center;
    font-size: 30px;
    color: rgb(119, 158, 231);
}

#input_label{
    align-items: center;
    text-align: center;
}

#input_label input{
    color: rgb(197, 255, 255);
    background-color: rgb(63, 104, 179);
    width: 800px;
    height: 50px;
    border: 0cm;
    font-size: 37px;
    margin-top: 20px;
}
