body {
    /* Just some dummy code to test if the style sheet is working properly */
    background: rgb(62, 91, 114);
    color: rgb(197, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center ;

}

#title{
    text-align: center;
    font-size: 60px;

}

#small_title{
    text-align: center;
    font-size: 30px;
}

#description{
    text-align: center;
    margin: 100px;
    font-size: 30px;
    color: rgb(108, 210, 228);
}

#try{
    text-align: center;
    margin: 20px;
    font-size: 30px;
    width: 600px;
    height: 100px;
    color: black;
    background-color: aquamarine;
    align-self: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

}

