#description {
    text-align: center;
    margin: 100px;
    font-size: 30px;
    color: rgb(108, 210, 228);
}

#try {
    text-align: center;
    margin: 20px;
    font-size: 30px;
    width: 600px;
    height: 100px;
    color: black;
    background-color: aquamarine;
    align-self: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#try:hover {
    background-color: rgb(185, 235, 235);
}