{% extends 'base.html' %}

{% block body %}
<!--This is /grammar-->

<!-- <p id="input_description">Enter the text you want to correct here</p>
<form id="input_label" action="/" method="POST">
    {% if txt == None %}
    <input type="text" name="txt" class="generic-text" autofocus />
    {% else %}
    <input type="text" name="txt" class="generic-text" value="{{ txt }}" autofocus />
    {% endif %}
    
    
    <button style="visibility: hidden;" type="submit"></button>
</form> -->

{% endblock %}