<!DOCTYPE html>
<html>
<head>
    {% block head %}{% endblock %}
    <title>BlackCat</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                {% if user == None %}
                    <li><a href="/signup">Sign up</a></li>
                    <li><a href="/login">Login</a></li>
                {% else %}
                    <li>Hello {{ user['name'] }}!</li>
                    {% if user['permission-level'] > 0 %}
                        <li><a href="/admin/dashboard">Admin</a></li>
                    {% endif %}
                    <li><a href="/logout">Logout</a></li>
                {% endif %}
                <li><a href="/grammar">Grammar checker</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        {% block body %}{% endblock %}
    </div>
</body>
</html>   

