<!DOCTYPE html>
<html>
    <!--
        This is the base.html file. It contains the base styles and elements that will appear on every page.
        Other html files will extend from this base.html file to avoid unnecessary repetition and to enable easier changes.
        Please see near the top of the #html-design channel for a further explanation.
    -->
    <head>
        {% block head %}{% endblock %}
        <title>Grammar App</title>
        <link rel="stylesheet" href='/static/css/style.css' />
        <link rel="stylesheet" href='/static/css/thbopscode.css' />
    </head>
    <body>
        <div class="top-bar">
            <a href="/" class="invisible-button generic-text">Home</a>
            <a href="/about" class = "invisible-button generic-text">About</a>
            {% if user == None %}
                <a href="/signup" class="invisible-button generic-text">Sign up</a>
                <a href="/login" class="invisible-button generic-text">Login</a>
            {% else %}
            {% if user['permission-level'] > 0 %}
                <a href="/admin/dashboard" class="invisible-button generic-text">Admin</a>
            {% endif %}
                <a href="/logout" class="invisible-button generic-text">Logout</a>
                <text>Hello {{ user['name'] }}!</text>
            {% endif %}
        </div>
        <br>
        <h1 id="title">Grammar App</h1>
        <h2 id="small_title">The app that was made with love to change the world</h2>
        {% block body %}{% endblock %}
    </body>
</html>
