{% extends 'base.html' %}

{% block body %}

<p id="title-placeholder">Enter the text you want to correct here</p>
<form action="/grammar" method="POST">
    {% if txt == None %}
    <input type="text" name="txt" class = "input-prompt" autofocus />
    {% else %}
    <input type="text" name="txt" class = "input-prompt" value="{{ txt }}" autofocus />
    {% endif %}
    
    
    <button style="visibility: hidden;" type="submit"></button> <!--Keep this invisible-->
</form>
<p id="title-placeholder"><i>* Press Enter to correct *</i></p> <!-- Ignore the error, it works perfectly fine! -->

{% endblock %}
