{% extends 'base.html' %}

{% block head %}
    <title>BlackCat - Login</title>
{% endblock %}

{% block body %}
<form id="input_label" action="/login-p" method="POST">
    <div class="user-form">
        <h1>BlackCat - Login</h1>
        <p>
            <label for="username" class="generic-text generic-text-medium">Username: </label>
            <input type="text" name="username" id="username" class="generic-text" autofocus />
        </p>
        <p>
            <label for="password" class="generic-text generic-text-medium">Password: </label>
            <input type="password" name="password" id="password" class="generic-text" />
        </p>
        {% if error != None %}
        <div class="generic-error-popup">
            <span onclick="this.parentElement.style.display='none'" class="error-button">❌</span>
            <p id = "error-def"><strong>{{ error }}</strong></p>
        </div>
        {% endif %}
        <button type="submit" class="generic-button generic-text generic-text-medium" >Submit</button>
    </div>

    
    
</form>
{% endblock %}

